.wrap {background: #f8f8f8;}
.wrap .container{max-width: 1800px; margin:0 auto;padding:50px; box-sizing: border-box;display: flex;flex-wrap: nowrap;align-items: flex-start;}
.wrap .profile_area {position: fixed;flex-shrink: 0; width:400px;height: -webkit-calc(100% - 100px);height: -moz-calc(100% - 100px);  height: calc(100% - 100px); padding:50px 30px;background-color: #fff;border-radius: 3px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); box-sizing: border-box; overflow-y: auto}
.wrap .profile_area .profile_user {text-align: center;}
.wrap .profile_area .profile_user .name {font-size: 20px; font-weight: 700; margin: 10px 0;}
.wrap .profile_area .profile_user .job {}
.wrap .profile_area .profile_user .job ul{margin: 10px 0;}
.wrap .profile_area .profile_user .job li{display: inline-block; margin-left: 5px;color:#017eff;}
.wrap .profile_area .profile_user .address{}
.wrap .profile_area .profile_user .user_thum{width:140px; height: 140px; margin:0 auto; border:1px solid #f8f8f8; border-radius: 100px;background: #f99;}
.wrap .profile_area .history_box {}
.wrap .profile_area .history_box dl {display: table; width:100%;margin:40px 0;}
.wrap .profile_area .history_box dl > *{display: table-cell; font-size: 16px;}
.wrap .profile_area .history_box dt{text-align: left;}
.wrap .profile_area .history_box dd{text-align: right; font-weight: 700;}
.wrap .profile_area .history_box ul {background: #f8f8f8; padding: 30px;}
.wrap .profile_area .history_box li {position: relative; margin-bottom: 20px;}
.wrap .profile_area .history_box li > div {margin-bottom: 10px;}
.wrap .profile_area .history_box h4 {margin-bottom: 10px; font-weight: 700;  font-size: 15px;}
.wrap .profile_area .history_box .tit > p{font-size: 14px; font-weight: 400; line-height: 1.2;}
.wrap .profile_area .history_box .tit .date {font-size: 13px;margin-top: 6px;}
.wrap .profile_area .history_box .tit .date:before {content:''; display: inline-block; width:12px; height: 12px; margin-right: 5px; vertical-align: middle; background: url('../images/icon/clock.png') no-repeat; background-size: 12px;}
.wrap .profile_area .history_box .txt_desc {position: relative;padding-left:10px; font-size: 13px; color:#999;  line-height: 1.2;}
.wrap .profile_area .history_box .txt_desc:before {content:'-'; display: inline-block; position: absolute;left: 0; top:2px;}
.wrap .profile_area .skill_box {position: relative; padding-left: 70px;margin-top: 50px;}
.wrap .profile_area .skill_box h4{position: absolute; left:0; top:0; }
.wrap .profile_area .skill_box p {}
.wrap .port_area{flex-grow: 1;padding:20px 0 20px 460px; }
.wrap .port_area .site_list {display: inline-grid; grid-template-columns: repeat(3, 1fr); grid-column-gap: 20px; grid-row-gap: 20px; margin-top: 50px;}
.wrap .port_area .site_list li{max-width: 400px;border: 1px solid #f7f7f7; border-radius: 10px; background: #fff;}
.wrap .port_area .site_list .site_thum img{width:100%; border-radius: 10px 10px 0 0;}
.wrap .port_area .site_desc {padding:20px;border-top: 1px solid #ddd;}
.wrap .port_area .site_desc > div {margin-bottom: 10px; font-size: 14px;}
.wrap .port_area .site_list .desc_percent p {display: inline-block;}
.wrap .port_area .site_list .desc_percent p em {font-weight: 700;}
.wrap .port_area .site_list .desc_term {padding-top: 20px; border-top:1px solid #ddd;}

@media screen and (max-width: 1500px){
	.wrap .profile_area {position: inherit;}
	.wrap .port_area {padding-left: 50px}
	.wrap .port_area .site_list {display: inline-grid; grid-template-columns: repeat(2, 1fr);} 
	
}