body, html {min-width: 320px;}
.wrap {min-height: 100vh;background: #f8f8f8;}
.wrap .container{max-width: 1800px; margin:0 auto;padding:50px; box-sizing: border-box;display: flex;flex-wrap: nowrap;align-items: flex-start;}
.wrap .profile_area {position: fixed;flex-shrink: 0; width:400px;height: -webkit-calc(100% - 100px);height: -moz-calc(100% - 100px);  height: calc(100% - 100px); padding:50px 30px;background-color: #fff;border-radius: 3px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); box-sizing: border-box; overflow-y: auto}
.wrap .profile_area .profile_user {text-align: center;}
.wrap .profile_area .profile_user .name {font-size: 20px; font-weight: 700; margin: 10px 0;}
.wrap .profile_area .profile_user .job {}
.wrap .profile_area .profile_user .job ul{margin: 10px 0;}
.wrap .profile_area .profile_user .job li{display: inline-block; margin-left: 5px;color:#017eff;}
.wrap .profile_area .profile_user .address{font-size: 13px;}
.wrap .profile_area .profile_user .user_thum{width:140px; height: 140px; margin:0 auto; border:1px solid #f8f8f8; border-radius: 100px;background: #f99;}
.wrap .profile_area .history_box {}
.wrap .profile_area .history_box dl {display: table; width:100%;margin:40px 0;}
.wrap .profile_area .history_box dl > *{display: table-cell; font-size: 16px;}
.wrap .profile_area .history_box dt{text-align: left;}
.wrap .profile_area .history_box dd{text-align: right; font-weight: 700;}
.wrap .profile_area .history_box ul {background: #f8f8f8; padding: 30px;}
.wrap .profile_area .history_box li {position: relative;padding-left: 80px; margin-bottom: 30px;}
.wrap .profile_area .history_box li > div {margin-bottom: 10px;}
.wrap .profile_area .history_box h4 {position: absolute; left:0;margin-bottom: 10px;  font-size: 14px;}
.wrap .profile_area .history_box .tit > p{font-size: 14px; font-weight: 400; line-height: 1.2;}
.wrap .profile_area .history_box .tit .txt_name {font-weight: 700;}
.wrap .profile_area .history_box .tit  .date + .txt_name {margin-top: 10px;}

.wrap .profile_area .history_box .tit .date {color:#999; font-size: 13px;}
.wrap .profile_area .history_box .txt_desc {position: relative;margin-top: 15px;font-size: 13px; color:#000;  line-height: 1.2; word-break: keep-all;}
.wrap .profile_area .skill_box {position: relative; padding-left: 70px;margin-top: 50px;}
.wrap .profile_area .skill_box h4{position: absolute; left:0; top:0; }
.wrap .profile_area .skill_box p {}
.wrap .port_area{flex-grow: 1;padding:0 0 20px 460px; }
.wrap .port_area .site_list {display: inline-grid; grid-template-columns: repeat(4, 1fr); grid-column-gap: 20px; grid-row-gap: 20px;}
.wrap .port_area .site_list > li{position: relative;max-width: 400px;border: 1px solid #f7f7f7; border-radius: 10px; background: #fff;}
.wrap .port_area .site_list .site_thum img{width:100%; border-radius: 10px 10px 0 0;}
.wrap .port_area .site_desc {padding:20px; padding-bottom: 70px;}
.wrap .port_area .site_desc > div {margin-bottom: 5px; font-size: 14px; line-height: 1.2;}
.wrap .port_area .site_list .desc_name {min-height: 41px;font-weight: 700; word-break: keep-all;}
.wrap .port_area .site_list .desc_name span {display: inline-block; margin-bottom: 5px; margin-right: 10px; padding:2px 10px; background: #555; color:#fff;}
.wrap .port_area .site_list .desc_name .new {background:#017eff;}
.wrap .port_area .site_list .desc_name .port {background:#f99;}
.wrap .port_area .site_list .desc_work {margin-top: 20px;}
.wrap .port_area .site_list .desc_work ul { min-height: 72px;padding:10px; background: #f8f8f8;}
.wrap .port_area .site_list .desc_work ul li {position: relative; padding-left: 10px;}
.wrap .port_area .site_list .desc_work ul li + li {margin-top: 5px;}
.wrap .port_area .site_list .desc_work ul li:before {content:'-'; position: absolute; left:0; top:0; display: inline-block;}
.wrap .port_area .site_list .percent {padding-top: 20px; }
.wrap .port_area .site_list .percent p {display: inline-block; color:#000;}
.wrap .port_area .site_list .percent p em {font-weight: 700;}
.wrap .port_area .site_list .desc_term {position: absolute; left:20px; bottom:20px;color:#999;}
.wrap .port_area .site_list .desc_hash ul li {display: inline-block; font-weight: 400;}
.wrap .port_area .site_list .desc_hash ul li:before {content:'#'; display: inline-block; margin-right: 3px;}

@media screen and (max-width: 1520px){
	.wrap .profile_area {position: inherit;}
	.wrap .port_area {padding-left: 50px}
	.wrap .port_area .site_list {grid-template-columns: repeat(3, 1fr); transition: all 1s;} 
}

@media screen and (max-width: 1240px){
	.wrap .container {display: inherit;}
	.wrap .profile_area {width:100%;}
	.wrap .port_area {margin:0 10px;margin-top: 5vh;padding-left: 0;}
	.wrap .port_area .site_list {width:100%;}
}

@media screen and (max-width: 768px){
	.wrap .container {padding:40px 20px;}
	.wrap .profile_area {padding: 0;background: #f8f8f8; box-shadow: none;}
	.wrap .profile_area .profile_user {margin-bottom: 30px;}
	.wrap .profile_area .profile_desc {margin: 10px;padding: 20px;background: #fff; border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
	.wrap .profile_area .history_box dl {margin: 0; margin-bottom: 20px; padding-bottom: 20px; border-bottom:1px solid #ddd;}
	.wrap .profile_area .history_box ul {padding:0; border-bottom:1px solid #ddd; background: #fff;}
	.wrap .profile_area .history_box h4 {font-size: 16px;}
	.wrap .profile_area .history_box li {text-align: right;}
	.wrap .profile_area .skill_box p {text-align: right; font-size: 14px;}
	.wrap .profile_area .history_box .tit .txt_name {}
	.wrap .profile_area .skill_box {margin-top: 20px;}
	.wrap .port_area .site_list .desc_name {font-size: 16px;}
	.wrap .port_area .site_list .desc_percent p {font-size: 16px;}
	.wrap .port_area .site_list {grid-template-columns: repeat(2, 1fr);} 
}
@media screen and (max-width:600px){
	.wrap .port_area .site_list {display: block;}
	.wrap .port_area .site_list > li {max-width:100%; margin-bottom: 20px; opacity: 0; transition: all .8s;}
	.wrap .port_area .site_list > li.show {opacity: 1;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
	.wrap .profile_area .history_box h4 {position:inherit;}
	.wrap .profile_area .history_box li {text-align: left; padding-left: 0; transition: all .8s;}
	.wrap .profile_area .skill_box {padding-left: 0;}
	.wrap .profile_area .skill_box h4 {position:inherit;}
	.wrap .profile_area .skill_box p {text-align: left;margin-top: 20px; font-weight: 700;}
	.wrap .port_area .site_list .desc_work ul {min-height: inherit;}
}