@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 400;
 src: url('/ty/html/font/NanumBarunGothicSubset.eot');
 src: url('/ty/html/font/NanumBarunGothicSubset.eot?#iefix') format('embedded-opentype'),
	url('/ty/html/font/NanumBarunGothicSubset.woff2') format('woff2'),
	url('/ty/html/font/NanumBarunGothicSubset.woff') format('woff'),
	url('/ty/html/font/NanumBarunGothicSubset.ttf') format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 700;
 src: url('/ty/html/font/NanumBarunGothicBoldSubset.eot');
 src: url('/ty/html/font/NanumBarunGothicBoldSubset.eot?#iefix') format('embedded-opentype'),
	url('/ty/html/font/NanumBarunGothicBoldSubset.woff2') format('woff2'),
	url('/ty/html/font/NanumBarunGothicBoldSubset.woff') format('woff'),
	url('/ty/html/font/NanumBarunGothicBoldSubset.ttf') format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 300;
 src: url('/ty/html/font/NanumBarunGothicLightSubset.eot');
 src: url('/ty/html/font/NanumBarunGothicLightSubset.eot?#iefix') format('embedded-opentype'),
	url('/ty/html/font/NanumBarunGothicLightSubset.woff2') format('woff2'),
	url('/ty/html/font/NanumBarunGothicLightSubset.woff') format('woff'),
	url('/ty/html/font/NanumBarunGothicLightSubset.ttf') format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 200;
 src: url('/ty/html/font/NanumBarunGothicUltraLightSubset.eot');
 src: url('/ty/html/font/NanumBarunGothicUltraLightSubset.eot?#iefix') format('embedded-opentype'),
	url('/ty/html/font/NanumBarunGothicUltraLightSubset.woff2') format('woff2'),
	url('/ty/html/font/NanumBarunGothicUltraLightSubset.woff') format('woff'),
	url('/ty/html/font/NanumBarunGothicUltraLightSubset.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 400;
 src: url('/ty/html/font/NanumBarunGothicSubset.eot');
 src: url('/ty/html/font/NanumBarunGothicSubset.eot?#iefix') format('embedded-opentype'),
	url('/ty/html/font/NanumBarunGothicSubset.woff2') format('woff2'),
	url('/ty/html/font/NanumBarunGothicSubset.woff') format('woff'),
	url('/ty/html/font/NanumBarunGothicSubset.ttf') format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 700;
 src: url('/ty/html/font/NanumBarunGothicBoldSubset.eot');
 src: url('/ty/html/font/NanumBarunGothicBoldSubset.eot?#iefix') format('embedded-opentype'),
	url('/ty/html/font/NanumBarunGothicBoldSubset.woff2') format('woff2'),
	url('/ty/html/font/NanumBarunGothicBoldSubset.woff') format('woff'),
	url('/ty/html/font/NanumBarunGothicBoldSubset.ttf') format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 300;
 src: url('/ty/html/font/NanumBarunGothicLightSubset.eot');
 src: url('/ty/html/font/NanumBarunGothicLightSubset.eot?#iefix') format('embedded-opentype'),
	url('/ty/html/font/NanumBarunGothicLightSubset.woff2') format('woff2'),
	url('/ty/html/font/NanumBarunGothicLightSubset.woff') format('woff'),
	url('/ty/html/font/NanumBarunGothicLightSubset.ttf') format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 200;
 src: url('/ty/html/font/NanumBarunGothicUltraLightSubset.eot');
 src: url('/ty/html/font/NanumBarunGothicUltraLightSubset.eot?#iefix') format('embedded-opentype'),
	url('/ty/html/font/NanumBarunGothicUltraLightSubset.woff2') format('woff2'),
	url('/ty/html/font/NanumBarunGothicUltraLightSubset.woff') format('woff'),
	url('/ty/html/font/NanumBarunGothicUltraLightSubset.ttf') format('truetype');
}

/*----*/


/* CSS Document */
* {margin:0;padding:0;border:0; font-size:12px;font-family:'NanumBarunGothic','나눔바른고딕', '나눔고딕', 'NanumGothic', '돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana; line-height: 1; letter-spacing: -0.5px; word-break: keep-all; background:transparent;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-text-size-adjust:none; border: 0;}
body {font-size:12px; overflow-x:hidden; color:#000; word-wrap:break-word; word-break:break-all; -webkit-text-size-adjust:none; font-family:'NanumBarunGothic','나눔바른고딕', '나눔고딕', 'NanumGothic', '돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana; line-height:1;} /**글자크기 자동조정 방지**/

a { color:inherit; text-decoration:none;}
a:link { text-decoration:none;}
a:visited { text-decoration:none;}

ul, ol, li {list-style: none;}

table {border-collapse:collapse;}
textarea {border:1px solid #ddd; line-height:1; color:#606060;}
button {border:0; padding:0; background:transparent; cursor:pointer; *overflow:visible; }

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="tel"],
input[type="submit"],
input[type="button"],button {-webkit-border-radius:0;border-radius: 0; /* iOS 둥근모서리 제거 */-webkit-appearance: none; /* 네이티브 외형 감추기 */-moz-appearance: none;appearance: none;}


/*::-webkit-scrollbar {width: 3px;}
::-webkit-scrollbar-thumb {background: #a9a9a9;}*/

/* Tablet 세로 */
@media all and (min-width:768px) and (max-width:1024px)  and (orientation : portrait) {
	* {font-size:24px;}
	body {font-size:24px;} /**글자크기 자동조정 방지**/

	input[type="text"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="tel"],
	input[type="submit"],
	input[type="button"],button {-webkit-border-radius:10px;border-radius: 10px; /* iOS 둥근모서리 제거 */-webkit-appearance: none; /* 네이티브 외형 감추기 */-moz-appearance: none;appearance: none;}

}