@charset "utf-8";
/* 아이패드 (가로 및 세로)*/
/*
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.header h1 a {width: 260px; height: 38px; background-size: 260px auto;}
	.header .hdArea.active h1 a {background-size: 260px auto;background-position: 0 -40px;}
	.header .hdArea {height:110px;}
	.menuArea .swiper-container li a {font-size:30px;}
}
*/

/* main */
.main {padding-bottom:30px; }
.prodList .swiper-pagination-bullet:focus {outline:none;}

.popupSpot {display:none; position: fixed; left: 0;right: 0; top: 0; bottom: 0; padding: 0 10%; background: rgba(0,0,0,.4); font-size: 0; letter-spacing: -.4rem; text-align: center; z-index: 200;}
.popupSpot .popCont { display: inline-block; overflow: hidden; position: relative; top:50%; transform: translateY(-50%);-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);-o-transform: translateY(-50%);width: 100%; max-width: 340px; margin: 0 auto;  vertical-align: middle;  border-radius: 5px; }
.popupSpot .popCont .swiper-container li a{display:block;}
.popupSpot .popCont .swiper-container li a img {width:100%;}
.popupSpot .popCont .swiper-pagination {height: 2px;top:inherit;bottom:0; background:#e5e5e5;}
.popupSpot .popCont .swiper-pagination.pagination-num {left:auto; right:0; bottom:45px; background:none; text-align:right;}
.popupSpot .popCont .swiper-pagination.pagination-bottom {width:100%;text-align:left;}
.popupSpot .popCont .swiper-pagination.pagination-num .swiper-pagination-bullet {background:none;}
.popupSpot .popCont .swiper-pagination.pagination-bottom span{background:#ed1c24; width: 20%; height: 4px; margin-top: -2px;  margin: 0; border-radius: 0;}
.popupSpot .popCont .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {background:#ed1c24;height: 4px; top: -2px;}
.popupSpot .popCont .swiper-slide img{width:100%;}
.popupSpot .popCont .info .page{display:inline-block; position:absolute; right:30px; bottom:19px;font-size:12px; color:#fff;letter-spacing:2px;z-index:11;}
.popupSpot .popCont .info .page span {font-size:13px; color:#fff;}
.popupSpot .popCont .info .page .current {font-weight:700;}
.popupSpot .popCont .info .moreBtn {display:inline-block; width:48px; height:25px; position:absolute; right:20px; bottom:15px; text-indent:-9999px; background: rgba(0,0,0,0.5);border-radius: 15px;z-index:10;}
.popupSpot .popCont .btnArea {margin-top:0; font-size:0; background:#fbfbfb; height:40px; line-height:40px;}
.popupSpot .popCont .btnArea a {display:inline-block; width:50%; font-size:16px; color:#666; letter-spacing:-.5px;}
.popupSpot .popCont .btnArea a + a{border-left:1px solid #d7d7d7;}
.popupSpot .popCont .btnArea .close {color:#000;}


/* 메인 비주얼 */
.mainVisual .txtBox{position:absolute; left:0; top:200px; width:100%; text-align:center;}
.mainVisual .txtBox .brandTit {padding:5px; font-size:12px; background:#000; color:#fff; font-weight:700; letter-spacing:-0.5px;}
.mainVisual .txtBox .descTxt01 {margin-top:13px;font-size:24px; color:#fff; line-height:1;}
.mainVisual .txtBox .descTxt02 {display:inline-block;margin-top:10px;font-size:14px; color:#fff; line-height:1;font-weight: 300; padding-bottom:4px; border-bottom:1px solid #fff;}
.mainVisual .swiper-pagination {height: 2px;top:inherit;bottom:0; background:#e5e5e5;}
.mainVisual .swiper-pagination.pagination-num {left:auto; right:0; bottom:45px; background:none; text-align:right;}
.mainVisual .swiper-pagination.pagination-bottom {width:100%;text-align:left;}
.mainVisual .swiper-pagination.pagination-num .swiper-pagination-bullet {background:none;}
.mainVisual .swiper-pagination.pagination-bottom span{background:#ed1c24; width: 20%; height: 4px; margin-top: -2px;  margin: 0; border-radius: 0;}
.mainVisual .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {background:#ed1c24;height: 4px; top: -2px;}
.mainVisual .swiper-slide img{width:100%;}
.mainVisual .info .page{display:inline-block; position:absolute; right:75px; bottom:18px; z-index:10; color:#fff;letter-spacing:2px;z-index:11;}
.mainVisual .info .page span {}
.mainVisual .info .moreBtn {display:inline-block; width:70px; height:25px; position:absolute; right:46px; bottom:15px; text-indent:-9999px;background-image:url('../../../images/mobile/common/icon_c.png?01'); background-size:400px auto;  background-repeat:no-repeat; background-position:-2px -90px; z-index:10;}
.mainVisual .swiper-button-play {display:none; width:25px;height:25px;position:absolute; right:20px; bottom:15px; text-indent:-9999px;background-image:url('../../../images/mobile/common/icon_c.png?01'); background-size:400px auto;  background-repeat:no-repeat; background-position:-100px -90px; z-index:10;}
.mainVisual .swiper-button-play.on {display:inline-block;}
.mainVisual .swiper-button-pause {display:none; width:25px;height:25px;position:absolute; right:20px; bottom:15px; text-indent:-9999px;background-image:url('../../../images/mobile/common/icon_c.png?01'); background-size:400px auto;  background-repeat:no-repeat; background-position:-74px -90px; z-index:10;}
.mainVisual .swiper-button-pause.on {display:inline-block;}
.mainVisual ul li {overflow:hidden;position: relative; float: left; width: 100%; height: auto; min-height: 100px; padding-top: 108%;}
.mainVisual .thumVisu { position: relative; z-index: 1; position: absolute; left:0; top:0;vertical-align: top; width:100%; height: 100%; background-size: cover;}
.mainVisual .thumVisu a{display: block; width:100%; height:100%;}

/*배너 이미지*/
.bannerArea {padding-bottom:10px;}
.bannerArea img {width:100%;}
.bannerArea .swiper-pagination {position:relative; display:block; width:100%; height:10px; background:none; bottom:-10px; text-align:center;}
.bannerArea .swiper-pagination .swiper-pagination-bullet {background:#e5e5e5; font-weight:700; width:8px; height:8px;font-size:14px; color:#999; opacity: 1; margin:0; z-index:10;} 
.bannerArea .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {margin-left:5px;}
.bannerArea .swiper-pagination .swiper-pagination-bullet-active {background: #ed1c24;}

/*지금 방금 나온 신상품*/
.newProdArea .swiper-container {padding: 0 20px 0 0;}

/*최근 본 상품의 연관상품*/
.reProdArea .swiper-container {padding: 0 20px 0 0;}

/* 지금 인기있는 상품 */
.hotProdArea {padding:21px 0px;}
.hotProdArea .emptyCont {width:100%; margin:10px 0;}
.hotProdArea h2 {padding:0 20px;}
.hotProdArea .swiper-menu-cont .swiper-slide a {}
.hotProdArea .swiper-menu-cont {padding:0 20px;}
.hotProdArea .swiper-container {padding:0 20px;} 
.hotProdArea .swiper-pagination {margin-left:20px;}

/* 검색 hot 키워드*/
.hotKeywordArea {padding:21px 20px; background:#f8f8f8;}
.hotKeywordArea .prodThum {padding-top: 100%;}
.hotKeywordArea .swiper-container {position: initial;}
.hotKeywordArea .swiper-pagination {display:inline-block; width:auto; height:auto; background:none;text-align:right; right:20px;top:23px; left:auto; bottom:auto;}
.hotKeywordArea .swiper-pagination .swiper-pagination-bullet {background:none; font-weight:700; width:auto; height:auto;font-size:14px; color:#999; opacity: 1; margin:0;}
.hotKeywordArea .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {margin-left:5px;}
.hotKeywordArea .swiper-pagination .swiper-pagination-bullet-active {border-bottom: 1px solid #000;color:#000; border-radius:0;}

.hotKeywordArea .swiper-slide a {margin-bottom:0;}

/* 품절임박 */
.lastProdArea .swiper-container {padding: 0 20px 0 0;}
.lastProdArea .update {position:absolute; right:20px; top:8px; color:#999; font-size:12px; line-height:1;}
.lastProdArea .prodThum .flag {width:43px; height:43px; font-size:10px; padding:7px 0;}
.lastProdArea .prodThum .flag.blue .num{font-size: 12px;}

.brandBanner {padding:0;}
.brandBanner .swiper-pagination {}
.brandBanner .prodThum {padding-top: 50.5%;}
.brandBanner a {margin-bottom:0;}
.brandBanner .swiper-pagination {bottom:15px; left:20px; height:1px;width : -webkit-calc(100% - 40px); /* for Chrome, Safari */    width :    -moz-calc(100% - 40px); /* for Firefox */ width : calc(100% - 40px); /* for IE */}
.brandBanner .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {height:1px;}
.brandBanner .info {position: absolute;display:inline-block; width:auto; height:auto; background:none;text-align:right; right:20px;top:10px; z-index: 10 }
.brandBanner .info .swiper-pagination-num {display: inline-block;background:none; font-weight:700; width:auto; height:auto;font-size:14px; color:#fff; opacity: 1; margin:0;}
.brandBanner .info .swiper-pagination-num + .swiper-pagination-num {margin-left:5px;}
.brandBanner .info .swiper-pagination-num.on {text-decoration:underline; color:#000;}


/* best 브랜드 */
.bestProdArea {padding:21px 0px; background:#f8f8f8;}
.bestProdArea .prodThum {padding-top: 117%;}
.bestProdArea h2 {padding:0 20px;}
.bestProdArea .all {position:absolute; right:20px; top:28px;  font-size:12px; line-height:1;}
.bestProdArea .bestProdBox {width:100%; padding:0 20px;}
.bestProdArea .bestProdList {width:100%; overflow:hidden;}
.bestProdArea .bestProdList li{float:left; width:32%; font-size:0; margin-bottom:10px;overflow: hidden;}
.bestProdArea .bestProdList span{font-size:13px; line-height:1.2;}
.bestProdArea .bestProdList li + li{margin-left:2%;}
.bestProdArea .bestProdList li:nth-child(3n+1) {margin-left:0;}
.bestProdArea .bestProdList li a {margin-bottom: 0;}

/* best 특가 */
.bestPriceArea{padding:21px 0;}
.bestPriceArea h2 {padding:0 20px;}
.bestPriceArea .swiper-slide a {margin-bottom:0;}
.bestPriceArea .prodThum {padding-top: 57.8%;}
.bestPriceArea .prodThum .flag.hot {width:40px; height:40px; left:20px; font-size:11px; padding:6px 0; background:#ed1c24; color:#fff; word-break:keep-all; line-height:1.2;}
.bestPriceArea .txtBox {position:relative; padding:20px; margin-bottom:0;}
.bestPriceArea .txtBox .tit {font-size:20px; line-height:1.3; word-break:keep-all;}
.bestPriceArea .txtBox .desc {font-size:12px; color:#999; margin:10px 0 8px;}
.bestPriceArea .txtBox .price {font-size:16px; font-weight:700; letter-spacing:-1px;}
.bestPriceArea .brand {position:absolute; left:20px; top:-20px;padding:4px 10px 5px; background:#000; color:#fff; line-height:1; }
.bestPriceArea .itemBox {visibility:hidden; padding:0 20px; }
.bestPriceArea .itemBox .itemThum {position: relative; padding-top: 120.8%; overflow: hidden;}
.bestPriceArea .itemBox .itemThum img { position: absolute; left: 50%;top: 50%; vertical-align: top; width: 100%; height: auto; transform: translate(-50%, -50%); -ms-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);}
.bestPriceArea.prodList .prodZzimBtn {right:5px; top:46%;}
.bestPriceArea .itemBox .txtBox {padding:0;}
.bestPriceArea .itemBox .prodTit {font-size:11px; letter-spacing:-1px; line-height:1; height:auto;}
.bestPriceArea .itemBox .prodPrice {font-size:11px; line-height:1; margin:6px 0 20px;}
.bestPriceArea .swiper-pagination {margin-left:20px;}
.bestPriceArea .swiper-slide-active .itemBox {visibility:visible;}
.bestPriceArea .swiper-container {position: initial;}
.bestPriceArea .pagination { position: absolute;display:inline-block; text-align:right; right:20px;top:23px; left:auto; bottom:auto;}
.bestPriceArea .pagination .swiper-pagination-bullet {background:none; font-weight:700; width:auto; height:auto;font-size:14px; color:#999; opacity: 1; margin:0;}
.bestPriceArea .pagination .swiper-pagination-bullet + .swiper-pagination-bullet {margin-left:5px;}
.bestPriceArea .pagination .swiper-pagination-bullet-active {border-bottom: 1px solid #000;color:#000; border-radius:0;}
 
.mdPicArea {padding:21px 0 0;}
.mdPicArea a {margin-bottom:0;}
.mdPicArea h2 {padding:0 20px;}
.mdPicArea .prodThum {padding-top: 77.5%;}
.mdPicArea .picArea {position:relative;margin-bottom: -30px;}
.mdPicArea .txtBox {position:relative; left:0; bottom:30px; width : -webkit-calc(100% - 20px); /* for Chrome, Safari */ width : -moz-calc(100% - 20px); /* for Firefox */ width : calc(100% - 20px); /* for IE */margin:0; padding:20px;  background:#fff; box-sizing:border-box;}
.mdPicArea .txtBox .tit {font-size:20px; word-break:keep-all; letter-spacing:-1px;}
.mdPicArea .txtBox .brandTxt {font-size:12px; color:#999;}
.mdPicArea .txtBox .brandTxt:before {content:''; display:block; width:15px; height:1; background:#999; margin-top:10px; margin-bottom:10px;}


.categoryArea {padding:30px 20px 15px; background:#f8f8f8; margin:0;}
.categoryList {overflow:hidden;}
.categoryList li{float: left; width:20%; text-align:center;} 
.categoryList .icon {position:relative; font-size:11px;  line-height: 1.56; margin-bottom:14px;}
.categoryList .icon:before {content:''; display:block; width:44px; height:44px; margin: 0 auto; border-radius:22px; box-sizing:border-box; background-color:#fff; border:1px solid #bbb; padding:10px 18px;}
.categoryList .icon:after{content:''; display:block; width:18px; height:22px; position: absolute; left: 50%; top: 11px; margin-left:-7px; background-image:url('../../../images/mobile/common/icon_c.png'); background-repeat:no-repeat;background-size:400px auto; }
.categoryList .outer:after {content:''; width:18px; height:22px;margin-left:-9px;  background-position:-136px -2px;}
.categoryList .golf:after {content:''; width:16px; height:22px;background-position:-161px -4px;}
.categoryList .woman:after {content:''; width:18px; height:22px;background-position:-182px -4px;}
.categoryList .man:after {content:''; width:18px; height:22px;background-position:-206px -4px;}
.categoryList .acc:after {content:''; width:18px; height:22px;background-position:-225px -4px;}

.categoryList .best:after {content:''; width:18px; height:16px;margin-left:-8px;top: 14px;  background-position:-138px -30px;}
.categoryList .sale:after {content:''; width:19px; height:19px;margin-left:-9px;top: 13px; background-position:-158px -28px;}
.categoryList .event:after {content:''; width:18px; height:16px;margin-left:-8px;top: 14px; background-position:-182px -30px;}
.categoryList .brand:after {content:''; width:18px; height:18px;margin-left:-8px;top: 14px; background-position:-202px -29px;}
.categoryList .all:after {content:''; width:18px; height:16px;margin-left:-8px;top: 14px; background-position:-225px -30px;}

/* 아이패드 (가로 및 세로)*/
/*
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .mainVisual .thumVisu {height: 870px;}
	.prodList h2 {font-size:36px;}
	.prodList .txtBox .prodTit {font-size:26px;}
	.prodList .txtBox .prodPrice .price {font-size:24px;}
	.prodList .txtBox .prodPrice .salePrice {font-size:22px;}
	.prodList .swiper-menu-cont .swiper-slide a {font-size:26px;}
	.prodList .prodThum .flag {width:54px; height:54px; font-size:22px; padding:12px 0;} 
	.lastProdArea .prodThum .flag {width:86px; height:86px;}
	.lastProdArea .update {font-size:22px;}
	.bestProdArea .all {font-size:22px;}
	.bestPriceArea .brand {font-size:24px;}
	.bestPriceArea .txtBox .tit {font-size:40px;}
	.bestPriceArea .pagination .swiper-pagination-bullet {font-size:28px;}
	.bestPriceArea .txtBox .desc {font-size:24px;}
	.bestPriceArea .txtBox .price {font-size:32px;}
	.mdPicArea .txtBox .tit {font-size:40px;}
	.mdPicArea .txtBox .brandTxt {font-size:22px;}
	.iconNew {font-size:22px;}
	.iconCoupon {font-size:22px;}
	.iconBest {font-size:22px;}
	.prodList .prodThum .keyword {font-size:24px;}
	.hotKeywordArea .swiper-pagination .swiper-pagination-bullet {font-size:28px;}
}
*/


